<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="logo">
                <a class="navbar-brand" routerLink=""> <img src="/assets/Untitled.png" alt=""></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav main_menu">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li>
                        <a href="#courses">Courses </a>
                        <!-- <ul class="sub_menu">
            
                li *ngFor="let category of categories">
                                <a routerLink="{{ category.route }}">{{ category.name }}</a>
                            </li>

                        </ul> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>



                </ul>
            </div>
            <div class="common_btn">
                <a href="login">Log In <i class="bx bx-log-in"></i></a>

            </div>
            <div class="common_btn">
                <a href="sign-up">Sign up</a>

            </div>


        </div>
    </nav>

</header>