<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="logo">
                <a class="navbar-brand" routerLink=""> <img src="/assets/Untitled.png" alt=""></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav main_menu">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li>
                        <a href="#">Courses <i class="bx bx-down-arrow-alt"></i></a>
                        <ul class="sub_menu">
                            <li><a routerLink="frontend">Front-End Web Development</a></li>
                            <li><a routerLink="backend">Back-End Web Development</a></li>
                            <li><a href="#">General Web Development courses</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="dashboard">student</a>
                    </li>



                </ul>
            </div>
            <div class="common_btn">
                <a href="login">Log In <i class="bx bx-log-in"></i></a>

            </div>
            <div class="common_btn">
                <a href="sign-up">Sign up</a>

            </div>


        </div>
    </nav>

</header>