mat-sidenav {
    background-color: black;
}

.toolbar {
    background-color: black;
}

.toolbar a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

.panel {
    background-color: #121213;
}

mat-icon {
    font-size: 20px;
    color: rgb(228, 165, 4);
}

mat-nav-list mat-icon {
    margin-left: 22px;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-right: 17px;
}

.mat-list-item {
    color: white!important;
    display: flex;
    align-items: center;
    text-decoration: none;
}

mat-expansion-panel-header span {
    padding-top: 18px;
}

.sidenav {
    max-width: 400px;
}

.logout {
    border: none;
    color: white;
    background-color: rgb(228, 165, 4);
    padding: 13px 23px;
    margin-left: 20px;
    margin-top: 28px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.logout:hover {
    background-color: white;
    color: black;
}

.counter-icon {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 12px;
    font-size: 12px;
    margin-left: 10px;
}