<div class="courses">
    <div class="center-text">
        <h5>ASSIGNMENTS</h5>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Status</th>
                    <th>Open Date</th>
                    <th>Due Date</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assignment of assignments">
                    <td><a  (click)="assignmentDetail(assignment)">{{ assignment.name }}</a></td>
                    <td>In progress</td>
                    <td>{{ assignment.date_created | date:'medium' }}</td>
                    <td>{{ assignment.date_due | date:'medium' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>