<div class="courses">
    <div class="center-text">
        <h5>ASSIGNMENTS</h5>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Status</th>
                    <th>Open Date</th>
                    <th>Due Date</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Introduction to programming</td>
                    <td>In progress</td>
                    <td>Jun 21</td>
                    <td>June 28</td>
                    <td>70%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>