.btn {
    background-color: #d58001;
    border: none;
}

.container {
    background-color: #d58001;
    margin: 0;
    max-width: 100%;
}

label {
    font-weight: bold;
}

.nav li a {
    font-weight: bold;
}

.tab-content div {
    padding: 2%;
}

.tab-content {
    margin-right: 0;
}

.form {
    width: 100%;
}

.final {
    margin-top: 20px;
    margin-right: 13%;
}

.col-sm-6 {
    width: 100%;
}