/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #22100d;
    --second-color: #383838;
    --main-color: rgb(255, 183, 0);
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1!important;
}

video {
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

#video-background:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7)!important;
}

.intro {
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 1!important;
    color: white;
    visibility: visible;
}

.home-text h1 {
    font-size: var(--big-font);
    margin: 15px 0 15px;
}

.home-text h6 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.home-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 48px;
}

.home-img img {
    height: auto;
    width: 100%;
}

header.sticky {
    background: black!important;
    padding: 12px 13%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

.container {
    padding: 70px 13%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 5!important;
}

.container-box {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    background-color: rgba(248, 187, 33, 0.5);
    border: 1px solid #e9ecef;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
    transition: all .40s ease;
}

.container-box:hover {
    transform: translateY(-15px);
}

.container-img img {
    width: 50px;
    height: 50px;
}

.container-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.container-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
}

.center-text {
    text-align: center;
}

.center-text h5 {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.center-text h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
}

.categories {
    padding-top: 20px;
}

.categories-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 4rem;
}

.box img {
    height: auto;
    width: 110px;
    margin-bottom: 20px;
}

.box {
    padding: 25px 60px;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
    transition: all .40s ease;
}

.box:hover {
    transform: translateY(-15px);
}

.box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.3;
    transition: all .40s ease;
}

.box h3:hover {
    color: var(--main-color);
}

.box li {
    font-size: 15px;
    color: var(--second-color);
    font-weight: 500;
    padding-top: 15px;
}

.main-btn {
    text-align: center;
    margin-top: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 16px 30px;
    font-size: var(--p-font);
    font-weight: 700;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 30px;
    transition: all .40s ease;
}

.btn:hover {
    transform: scale(0.9) translateY(-5px);
}

.contact {
    padding-top: 5%!important;
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
}

.contact .content p {
    font-weight: 300;
}

.form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(248, 187, 33, 0.5);
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon {
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 22px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    color: black;
}

.text h1 {
    color: black;
    font-weight: 500;
    font-size: 26px;
}

.contact-form {
    width: 50%;
    background-color: white;
    padding: 25px;
}

.contact-form h2 {
    font-size: 30px;
    color: black;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: black;
}

.inputBox input:focus~span,
.inputBox input:valid~span,
.inputBox textarea:focus~span,
.inputBox textarea:valid~span {
    color: var(--main-color);
    font-size: 12px;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.inputBox input[type="submit"] {
    width: 100px;
    background-color: var(--main-color);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.events_item .thumb {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.events_item .thumb img {
    margin-bottom: -5px;
}

.events_item .thumb span.category {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(228, 165, 4);
    background-color: rgba(250, 250, 250, 0.95);
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
}

.events_item .thumb span.price {
    position: absolute;
    right: -30px;
    top: -50px;
    background-color: rgb(228, 165, 4);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;
    transition: all .3s;
}

.events_item .thumb span.price h6 {
    margin-top: 72px;
    margin-left: 22px;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.events_item .thumb span.price em {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    vertical-align: top;
}

.events_item {
    background-color: #f1f0fe;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.events_item .down-content {
    padding: 20px 30px 25px 30px;
}

.events_item .down-content span.author {
    color: rgb(228, 165, 4);
    font-size: 15px;
    display: inline-block;
    margin-bottom: 6px;
}

.events_item .down-content h4 {
    font-size: 22px;
    font-weight: 600;
    transition: all .3s;
}

.events_item:hover .down-content h4 {
    color: rgb(228, 165, 4);
}

.events_item:hover .thumb span.price {
    transform: scale(1.2);
}


/* .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-text h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.about-text h5 {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact {
    padding: 60px 13%;
    background: var(--bg-color);
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.contact-content img {
    height: auto;
    width: 160px;
    max-width: 100%;
    margin-bottom: 30px;
}

.contact-content li {
    margin-bottom: 18px;
}

.contact-content li a {
    display: block;
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    transition: all .40s ease;
}

.contact-content li a:hover {
    transform: translateX(10px);
    color: var(--main-color);
}

.last-text p {
    text-align: center;
    padding: 18px;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
} */

@media (max-width: 1410px) {
    header {
        padding: 10px 3%;
        transition: .2s;
    }
    header.sticky {
        padding: 12px 3%;
        transition: .2s;
    }
    section {
        padding: 70px 3%;
        transition: .2s;
    }
    .container {
        padding: 70px 3%;
        transition: .2s;
    }
    .contact {
        padding: 60px 3%;
        transition: .2s;
    }
}

@media (max-width: 1050px) {
     :root {
        --big-font: 3.2rem;
        --h2-font: 2rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home {
        height: 84vh;
    }
}

@media (max-width: 1025px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 110vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 170px 30px;
        transition: all .40s ease;
    }
    .navbar a {
        display: block;
        margin: 1.3rem 0;
        color: var(--bg-color);
    }
    .navbar a:hover {
        color: var(--bg-color);
        transform: translateY(-5px);
    }
    .navbar.open {
        right: 0;
    }
}

@media (max-width: 890px) {
    .contact {
        padding: 50px;
    }
    .form {
        flex-direction: column;
    }
    .home {
        height: 150vh;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .home-text {
        padding-top: 20px;
    }
    .home-img {
        text-align: center;
    }
    .home-img img {
        height: auto;
        width: 100%;
    }
    .about {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .home {
        height: 120vh;
    }
}